{% extends 'medicine/layout.html' %}

{% block content %}
<div class="container">
    <h2>Medicine Reminder System</h2>
    <p>We build this application useful for the people who forget to take there medicine on time because of the modern
        day
        lifestyle and tight schedule we remind you to take medicine time to time in your phones and desktop so that you
        can
        complete your medicine course successfully</p>
    <h3>Features</h3>
    <ul class="list-group">
        <li class="list-group-item">Cross Platform</li>
        <li class="list-group-item">Real Time Push notification</li>
        <li class="list-group-item">Images of medicines for elderly</li>
    </ul>
</div>
{% endblock %}