{% extends 'medicine/layout.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Contact Us</h2>
    <fieldset>
        <legend>Email Support</legend>
        Email Us at: <a href="mailto:2017.srivatsan.iyengar@ves.ac.in">mrs@sns.com</a>
    </fieldset>
    <fieldset>
        <legend>Toll Free Number</legend>
        Customer Care: <a href="tel:1234567890">1800-00-11-22</a>
    </fieldset>
    <br>
    <h4>All Queries will be resolved our vision is clear regarding this &#x1F600;.</h4>
</div>
{% endblock %}