{% extends 'medicine/layout.html' %}

{% block content %}
<div class="container">
    <button id="myBtn">Start Server</button>
    <br>
    logs
    <p id="logs"></p>
</div>
<script>
    $('#myBtn').click(function () {
        $('#myBtn').prop('disabled', true);
        setInterval(function () {
            var date = new Date();
            var day = date.getDay();
            var minutes = date.getMinutes();
            if (Number.parseInt(minutes)<10){
                minutes = "0"+minutes;
            }
            var time = date.getHours() + ":"+minutes;
            // $('#logs').append(time+"<br>");
            $.ajax({ url: '/send/', method: 'post', data: { time: time, day: day }, success: function (result) {
                if(result.sent == true){
                    $('#logs').append("notification sent at"+time+'<br>')
                }
                else{
                    $('#logs').append("notification not sent at"+time+'<br>')
                }
            }});
        },60000);
    });
</script>

{% endblock %}